/* Importando a fonte Robot direto da api do google */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}

body{
    /* Se não conseguir importar a Roboto, importa a sans-serif como segunda opção */
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased; /*Melhora a visualização da font dentro do google chrome*/
}

input, button, textarea {
    font: 400 18px Robot, sans-serif;
}

button {
    cursor: pointer;
}

form input,
form textarea {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

form textarea {
    height: auto;
    min-height: 140px;
    line-height: 24px;
    resize: vertical;
}

.button {
    width: 100%;
    height: 60px;
    background-color: #e02041;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;   
    transition: filter 0.2s;
}

.button:hover {
    filter: brightness(90%); /*Reduz a claridade do button em 10%*/
}

.back-link{
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.back-link svg{
    margin-right: 8px;
}

.logon-container section.form form a:hover{
    opacity: 0.8;
}